div {
  &.controls {
    @include for-phone-only {
      width: $phone-controls-width;
      height: 87vh;
    }
    @include for-tablet-portrait-up {
      width: $phone-controls-width;
      height: 95vh;
    }
    @include for-tablet-landscape-up {
      width: $controls-width;
      height: 95vh;
    }
    @include custom-transition($hide-ui-transition, $hide-ui-transition-func, $hide-ui-transition-delay);

    &.hide-left {
      @include for-tablet-landscape-up {
        left: -$controls-width;
      }
      left: -$phone-controls-width;
      overflow: hidden;
    }

    .current-trail-header {
      margin-bottom: -20px;
      text-align: center;
    }

    .delete-trail {
      margin-top: 5px;
    }

    .list-trail-header {
      @extend .current-trail-header;
      margin-top: 25px;
    }

    .panel {

      .panel-heading {

        h3.controls-title {
          @include for-phone-only {
            margin: 0;
            font-size: $phone-controls-font-size + 0.5rem;
          }

          a {
            color: white;
          }
          margin: 5px;
          text-align: left
        }
        border: none;
        border-radius: 0
      }

      .hidecontrols {
        @include for-phone-only {
          top: 5px;
          left: $phone-controls-width - 55px;
        }
        position: absolute;
        top: 10px;
        left: 345px;
        padding-left: 25px;
        cursor: pointer;
      }

      .list-box {
        @include for-tablet-landscape-up {
          font-size: $controls-font-size;
        }
        margin: $list-box-margin;
        font-size: $phone-controls-font-size
      }

      .search-box {
        margin-top: 10px;
      }
      margin: 0;
      border: none
    }
    position: absolute;
    top: 50px;
    left: 0;
    overflow: auto;
    border: $controls-border;
    background-color: $controls-bg-color
  }
}


input {
  margin-bottom: 5px;
}
