nav {
  @include custom-transition($hide-ui-transition, $hide-ui-transition-func, $hide-ui-transition-delay);

  &.minified-header {
    top: 0;
    left: 0;
    width: 180px;
    margin-right: 0;
    border-bottom-right-radius: 10px;
  }

  .headerhidecontrols {
    display: none;
  }

  .navbar-right {
    padding-right: 25px;
  }

  .dropdown-menu {
    z-index: 100;
  }
  width: 100%;
  height: 50px;
}
