div {
  &.mapviewer {

    .mapboxgl-ctrl-top-right {
      top: 50px;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: $mapviewer-border;
    z-index: 0
  }
}
