//Colors

//Button Colors

//Parameters
$phone-controls-width: 275px;
$phone-controls-font-size: 1rem;

$controls-width: 400px;
$controls-font-size: 1.5rem;

$controls-border: none; //1px solid black;
$controls-bg-color: #fbfbfb;
$mapviewer-border: none;//1px solid black;

$hide-ui-transition: left 0.5s, width 0.5s, height 0.5s;
$hide-ui-transition-func: ease-in-out;
$hide-ui-transition-delay: 0s;

//Bootstrap Resets
