div {
  &.controls {
    // Positioning
    position: absolute;
    top: 50px;
    left: 0;
    // Display and Sizing
    overflow: auto;
    @include for-phone-only {
      width: $phone-controls-width;
      height: 87vh;
    }
    @include for-tablet-portrait-up {
      width: $phone-controls-width;
      height: 95vh;
    }
    @include for-tablet-landscape-up {
      width: $controls-width;
      height: 95vh;
    }
    //  Other
    background-color: $controls-bg-color;
    border: $controls-border;
    @include custom-transition($hide-ui-transition, $hide-ui-transition-func, $hide-ui-transition-delay);

    &.hide-left {
      // Positioning
      left: -$phone-controls-width;
      @include for-tablet-landscape-up {
        left: -$controls-width;
      }
      // Display and Sizing
      overflow: hidden;
    }

    .panel {
      // Positioning
      // Display and Sizing
      margin: 0;
      // Other
      border: none;

      .panel-heading {
        border-radius: 0;
        border: none;

        h3.controls-title {
          // Positioning
          // Display and Sizing
          margin: 5px;
          @include for-phone-only {
            margin: 0;
            font-size: $phone-controls-font-size + 0.5rem;
          }
          // Other
          text-align: left;

          a {
            color: white;
          }
        }
      }

      .hidecontrols {
        // Positioning
        position: absolute;
        top: 10px;
        left: 345px;
        @include for-phone-only {
          top: 5px;
          left: $phone-controls-width - 55px;
        }
        //Display and Sizing
        padding-left: 25px;
        //Other
        cursor: pointer;
      }

      .list-box {
        margin: $list-box-margin;
        font-size: $phone-controls-font-size;
        @include for-tablet-landscape-up {
          font-size: $controls-font-size;
        }
      }

      .search-box {
        margin-top: 10px;
      }
    }
  }
}

input {
  margin-bottom: 5px;
}
