div.controls {
    position: absolute;
    top: 50px;
    left: 0;
    overflow: auto;

    border: $controls-border;
    background-color: $controls-bg-color;
    @include for-phone-only {
        width: $phone-controls-width;
        height: 85vh;

        .list-box {
            font-size: $phone-controls-font-size;
        }
    }
    @include for-tablet-portrait-up {
        width: $phone-controls-width;
        height: 95vh;

        .list-box {
            font-size: $phone-controls-font-size;
        }
    }
    @include for-tablet-landscape-up {
      width: $controls-width;
      height: 95vh;

      .list-box {
          font-size: $controls-font-size;
      }
    }

    .panel {
        margin: 0;
        border: none;
        .panel-heading {
            border-radius: 0;
        }

        .control-panel {

        }

        .list-box {
            margin-top: 5px;
        }

        h3 {
            margin: 5px;
            text-align: center;
            @include for-phone-only {
                margin: 0;
                font-size: $phone-controls-font-size + 0.5rem;
            }

            a {
                color: white;
            }
        }
    }
}

table.list-box {
    th {
        text-align: center;
    }
}

.search-box {
  margin-top: 10px;
}
