div.controls.hide-left {
    height: 36px;
    overflow: hidden;
    left: -240px;
    @include for-tablet-landscape-up {
        left: -365px;
        height: 50px;
    }
}

div.controls {
    position: absolute;
    top: 50px;
    left: 0;
    overflow: auto;
    transition: left 1s, height 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.125s;
    border: $controls-border;
    background-color: $controls-bg-color;
    @include for-phone-only {
        width: $phone-controls-width;
        height: 87vh;

        .list-box {
            font-size: $phone-controls-font-size;
        }
    }
    @include for-tablet-portrait-up {
        width: $phone-controls-width;
        height: 95vh;

        .list-box {
            font-size: $phone-controls-font-size;
        }
    }
    @include for-tablet-landscape-up {
        width: $controls-width;
        height: 95vh;

        .list-box {
            font-size: $controls-font-size;
        }
    }

    .panel {
        margin: 0;
        border: none;

        .panel-heading {
            border-radius: 0;
            border: none;
            transition: background-color 3s;
        }

        .control-panel {}

        .list-box {
            margin-top: 5px;
        }

        #hidecontrols {
            position: absolute;
            top: 10px;
            left: 345px;
            padding-left: 25px;
            cursor: pointer;
            @include for-phone-only {
                top: 5px;
                left: $phone-controls-width - 55px;
            }
        }

        h3 {
            margin: 5px;
            text-align: center;
            @include for-phone-only {
                margin: 0;
                font-size: $phone-controls-font-size + 0.5rem;
            }

            a {
                color: white;
            }
        }
    }
}

table.list-box {
    th {
        text-align: center;
    }
}

.search-box {
    margin-top: 10px;
}
