.header-search {
    width: 45vw;

    .header-search-input {
        width: 100%;
    }
}

.form-group {
  margin-left: 10px;
}

#centermap-checkbox {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0px;
  // margin: none;
  //
  // a {
  //   top: -35px;
  // }
}
