div.mapviewer {
    position: absolute;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: $mapviewer-border;
    @include for-phone-only {

    }
    @include for-tablet-landscape-up {

    }
}
