.tool {
  text-align: left;
  padding-top: 5px;
  margin-bottom: 5px;
  // border: 1px solid black;

  .col-xs-2 {
    // border: 1px solid black;
    // padding: 0px;
  }
}

#preview-map {
  width: 100%;
  height: 300px;
}
