.tool {
  //Position
  //Display and Sizing
  padding-top: 5px;
  margin-bottom: 5px;
  //Other
  text-align: left;
}

.delete-feature {
  float: right;
  line-height: 1;
  margin-right: 10px;
  margin-top: -5px;
}
